.dark-overlay {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	margin: 0;
	padding: 0;
	position: absolute;
}

.redish {
	color: red;
	opacity: 0.5;
}

/*
i.skill-icon.fa {
	background-color: #428BCA;
	border: 4px solid #428BCA;
	border-radius: 50%;
	color: #FFFFFF;
	display: block;
	font-size: 80px;
	height: 148px;
	line-height: 140px;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 148px;
}

*/

.media-heading {
	margin-top: 20px;
}

footer.footer {
	margin: 0;
	padding: 0;
	height: 450px;
	overflow-y: hidden;
	opacity:1;
	position:relative;
}

footer div.container {
	color: white;
}

header {
	padding: 0 !important;
}

.intro-content {
}

